$body-font: "Gilroy";

$primary: #146eb4;
$secondary: #12263f;
$warning: #f26b1d;
$success: #6db324;
$danger: #ff7885;
$info: #0f1028;
$light: #fff8f8;
$dark: #000000;
$green: #2cbb52;
$grey: #efefef;
$grey-200: #f1efef;
$grey-300: #e1e2e4;
$grey-400: #efefef;
$grey-500: #ccd0dc;
$grey-600: #9ea2a7;
$grey-700: #dddee2;
$white: #ffffff;

