.heroSection img {
    object-fit: cover;
    width: 100%;
    min-height: 100% !important;
    height: 100vh !important;
    animation: 10s ease-in-out 0s infinite alternate none running leaves;
}

@keyframes  leaves {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}